@import "./styles/abstract/_variables";
@import "./styles/layout/_header";
@import "./styles/layout/_main";
@import "./styles/layout/_footer";
@import "./styles/pages/_game-page";

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: $dark;
  color: $main-color;
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
  color: #fff;
}
