@import "../abstract/_variables";
@import "../abstract/_mixins";

.footer {
  max-height: 70px;
  flex: 0 0 auto;

  &-container {
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include _540 {
      padding: 10px 0;
    }

    &__author {
      text-decoration: none;
      color: $main-color;
    }

    &__logo-rss {
      background: url("./assets/logo_rs.png") no-repeat;
      background-size: contain;
      width: 100%;
      max-width: 115px;
      height: 60px;
      @include _1000 {
        max-width: 100px;
      }
    }
  }
}
