$dark: #222;
$gray-dark: #303030b0;
$main-color: #fff;
$nav-game-color: #008966;
$nav-game-color-active: #00bc8c;
$btn-gradient: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
$btn-color-correct: linear-gradient(45deg, #fffb00, #48ff00, #00ffd5);
$btn-color-incorrect: linear-gradient(45deg, #ff0000, #ff7300);
$modal-color: #303030;
